<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="account_info">
      <%= gravatar_for @account %>
      <h1><%= @account.account_name %></h1>
      <span><%= link_to "view my profile", account_path(@account.account_name) %></span>
      <span><b>Lunches:</b> <%= @account.lunches.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <% if @accounts.any? %>
        <div class="account_avatars">
          <% @accounts.each do |account| %>
            <%= link_to gravatar_for(account, size: 30), account_path(account.account_name) %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @accounts.any? %>
      <ul class="accounts follow">
        <%= render @accounts %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
