<% provide(:title, @account.account_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="account_info">
      <h1>
        <%= gravatar_for @account %>
        <%= @account.account_name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @account.visit_restaurants.any? %>
      <h3>VisitRestaurants (<%= @account.visit_restaurants.count %>)</h3>
      <ol class="visit_restaurants">
        <%= render @visit_restaurants %>
      </ol>
      <%= will_paginate @visit_restaurants %>
    <% end %>
  </div>
</div>
