<% provide(:title, @account.account_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="account_info">
      <h1>
        <%= gravatar_for @account %>
        <%= @account.account_name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @account.lunches.any? %>
      <h3>Lunch (<%= @account.lunches.count %>)</h3>
      <ol class="lunches">
        <%= render @lunches %>
      </ol>
      <%= will_paginate @lunches %>
    <% end %>
  </div>
</div>
